 div{
    margin-left: 00%;
 }

 .card{
    margin: 0 20% 0% 20%;
 }
.header{
    height: 320;
}   

.ad{
    text-align :center;
    height: 50px; 
    line-height: 5px;
}

ul{
    border: 2px solid #000;
    width: 500px; height: 100px;
    margin: 10px 100px 10px 100px;
    font-size: 20;
    
}

li{
    margin: 15px ;
    display: inline;
    
}

.logo{
    font-size: 50px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
}

.userMenu{
    float: right;
    width: auto;
    top: 50;
    vertical-align: text-bottom;
}

.bar{
    clear:both;
    float: left;
    width: 70%;
}

.seletor{
    float: right;     
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    margin: 40pt 130px 0 0;
}


input{
    height: 50px;
}
.title{
    margin: 0 0 0 50;
}