.cocktail-btn-box {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.cocktail-btn {
    margin: 20px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 5;
    background-color: white;
    border: 1px solid rgb(223, 217, 217);
    cursor: pointer;
    transition: all 0.3s;
}

.cocktail-btn:hover {
    border: 1px solid rgb(216, 167, 7);
    color: rgb(216, 167, 7);
  }

.cocktail-box {
    width: 280px;
    height: 220px;
    cursor: pointer;
}
  
.cocktail-list {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    column-gap: 50px;
}

.cocktail-contents {
    width: 280px;
    height: 20px;
    background-color: white;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap; /* 글자를 한줄로 모아준다 */
    text-overflow: ellipsis;
}

/* ---------------- detail ------------------ */

.cocktail-banner {
    background-color: #303030;
    border: 1px solid white;
}

.cocktail-banner-box {
    width: 950px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 12%;
    display: grid;
    grid-template-columns: 500px 400px;
    column-gap: 50px;
}

.cocktail-banner-box-piturebox {
    width: 510px;
    height: 400px;
    display: grid;
    grid-template-columns: 80px 420px;
    column-gap: 10px;
}

.cocktail-banner-box-minipiturebox {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.cocktail-banner-box-minipiture {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cocktail-banner-box-contentsbox {
    width: 400px;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.7fr 2fr 0.8fr 1.7fr;
}

.cocktail-banner-box-contents-name {
    float: left;
    font-size: 30px;
    font-weight: 800;
    color: white;
    margin-right: 10px;
}

.cocktail-banner-box-contents-engname {
    font-weight: 600;
    color: rgb(110, 100, 110);
    position: relative;
    top: 5px;
    white-space: nowrap; /* 글자를 한줄로 모아준다 */
}

.cocktail-banner-box-contents-isalcohol {
    max-width: 120px;
    max-height: 30px;
    text-align: center;
    border: 1px solid rgb(110, 110, 110);
    color: rgb(110, 110, 110);
    border-radius: 10px;
    padding-top: 8px;
    margin-top: 15px;
}

.cocktail-banner-box-contents-favorite {
    text-align: center;
    font-size: 60px;
    color: rgb(242, 92, 92);
    margin-top: -10px;
    margin-bottom: -8px;
}

.cocktail-ingredient-container {
    display: grid;
    grid-template-columns: 1fr 1fr 400px;
    padding: 0% 20%;
    margin-bottom: 40px;
}

.cocktail-ingredient-recipe-box {
    width: 100%;
    margin-bottom: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px;
}

.cocktail-ingredient-btn {
    margin-left: 30px;
    padding: 10px;
    border: 2px solid rgb(242, 92, 92);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.cocktail-ingredient-image {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 100px;
    margin-left: 25%;
}

.cocktail-ingredient-contents {
    text-align: center;
    padding-top: 20%;
    font-size: 20px;
}

.cocktail-ingredient-contents-name {
    color: black;
    transition: all 0.4s;
}

.cocktail-ingredient-container:hover .cocktail-ingredient-contents-name {
    color: rgb(216, 167, 7);
}


.cocktail-recipe-contents {
    text-align: left;
    font-size: 20px;
}

