a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

img {
  overflow: clip;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

/* ---------------- header ------------------ */

.header-container {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 70px 45px 70px 90px 90px 1fr;
  grid-template-rows: 1.5fr 1fr;
  column-gap: 30px;
  row-gap: 5px;
}

.login-btn {
  margin: 20px 0px;
  padding: 5px 20px;
  font-size: 20px;
  color: gray;
  border: 1px solid rgb(223, 217, 217);
  border-radius: 10px;
  font-weight: 500;
  background-color: white;
  position: relative;
  top: 12px;
  float: right;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn:hover {
  border: 1px solid rgb(216, 167, 7);
  color: rgb(216, 167, 7);
}

.header-menu {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  padding: auto;
}

.header-menu-box {
  display: inline-block;
}

.header-animationbar {
  width: 0px;
  height: 3px;
  margin-top: 5px;
  border-radius: 100px;
  background-color: rgb(216, 167, 7);
  transition: all 0.3s;
}

.header-menu:hover ~ .header-animationbar {
  width: 95%;
}

.header-search {
  font-weight: bold;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 380px;
  height: 20px;
  cursor: pointer;
  float: right;
  transition: all 0.3s;
}

.header-search:hover {
  border: 1px solid rgb(216, 167, 7);
  color: rgb(216, 167, 7);
}

.header-search::after {
  content: '';
  display: block;
  clear: both;
}

.modal-container {
  display: grid;
  grid-template-rows: 1fr 1fr 40px;
  position: absolute;
  top: 12%;
  right: 15%;
  width: 300px;
  height: 150px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  float: right;
}

.header-menu-box.selected li {
  color: rgb(216, 167, 7);
}

.modal-container div {
  font-size: 20px;
  cursor: pointer;
}

.modal-container-contents {
  font-size: 20px;
  transition: all 0.3s;
}

.modal-container-contents:hover {
  color: rgb(216, 167, 7);
}

.modal-contents-logout {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(216, 167, 7);
  color: white;
  transition: all 0.5s;
}

.modal-contents-logout:hover {
  background-color: rgb(242, 92, 92);
}

/* --------------- search -------------------- */

.search-contatiner {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.search-contents-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 100px;
  column-gap: 50px;
  margin-bottom: 75px;
}

.search-contents-none {
  grid-column: 1/5;
  width: 100%;
  height: 200px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

/* --------------- main -------------------- */

.banner {
  max-width: 100%;
  /* height: 730px; */
  background-color: aliceblue;
}

/* --------------- mypage -------------------- */

.mypage-container {
  margin: 5% 10%;
  column-gap: 30px;
  border-radius: 10px;
}

.mypage-left {
  float: left;
  display: grid;
  width: 252px;
  grid-template-rows: 150px 280px 1fr 1fr 1fr;
  background-color: rgba(224, 218, 201);
  box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px;
  border-radius: 10px;
  position: fixed;
}

.mypage-profile-picture {
  position: relative;
  width: 130px;
  height: 130px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 150px;
  margin-top: 2%;
  margin-left: 8%;
}

.mypage-profile-picture-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mypage-profile-picture-change-button {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.mypage-profile-picture-change-button:hover {
  color: white;
  box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px;
  background-color: rgb(121, 105, 17);
}

.mypage-left-menu {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  cursor: pointer;
  transition: all 0.2s;
}

.mypage-left-menu:hover {
  color: white;
  box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px;
  background-color: rgb(121, 105, 17);
  border-radius: 50px;
}

.mypage-left-menu.selected span {
  color: rgb(216, 167, 7);
}

.mypage-right {
  float: right;
  width: 80%;
  background-color: rgba(224, 218, 201);
  box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px;
  border-radius: 10px;
}

.mypage-right:after {
  content: "";
  display: block;
  clear: both;
}


.mypage-right-contents {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr 1fr 150px;
}

.mypage-right-contents-keys h2 {
  text-align: center;
  padding-bottom: 20px;
}

.mypage-right-contents-keys {
  border-bottom: 1px solid gray;
}

.mypage-right-contents-values {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20%;
  font-weight: 500;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.cocktail-ingredient-image {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 100px;
  margin-left: 25%;
}

.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}
